<header>

  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top transparent">

    <button class="navbar-toggler" data-toggle="collapse" data-target="#mynavbar" (click)="onToggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/home">AJL</a>

    <div class="collapse navbar-collapse justify-content-end" [class.collapse]="isCollapsed" id="mynavbar">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of navigationItems">
          <a class="nav-link" routerLink="{{item.url}}">{{item.label}}</a>
        </li>
      </ul>
    </div>

  </nav>

  <div class="banner-center text-center">
    <h1 class="display-4"><strong>Aurélien Jacquin-Labarre</strong></h1>
    <div class="banner-underline"></div>
    <a href="menu">Menu</a>
  </div>
</header>