/* colors 
#00CC66 green
#E3DBDB grey
#353531 black
whitesmoke
*/


#menu {
    padding: 40px;
    color: #353531;
    background-color: #E3DBDB;
}

#menu fa {
    font-size: 100px;
    margin-bottom: 10px;
}

#menu button {
    margin-bottom: 20px;
    background-color: #00CC66;
    color: whitesmoke;
}

#menu a:hover {
    background-color: #E3DBDB;
    color: #00CC66;
} 

#about {
    background-color: #353531;
}

#about .pic {
    height: 100vh;
    background: url(../../assets/images/big-dream.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #353531;
}

#about .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
